policy_module(titancoin, 1.100.1)

########################################
#
# Declarations
#

type titancoin_t;
type titancoin_exec_t;
init_daemon_domain(titancoin_t, titancoin_exec_t)

permissive titancoin_t;

type titancoin_initrc_exec_t;
init_script_file(titancoin_initrc_exec_t)

type titancoin_conf_t;
files_type(titancoin_conf_t)

type titancoin_var_lib_t;
files_type(titancoin_var_lib_t)

type titancoin_var_run_t;
files_type(titancoin_var_run_t)

type titancoin_port_t;
corenet_port(titancoin_port_t)

########################################
#
# titancoin local policy
#
allow titancoin_t self:process { fork };

allow titancoin_t self:fifo_file rw_fifo_file_perms;
allow titancoin_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(titancoin_t, titancoin_conf_t, titancoin_conf_t)
manage_files_pattern(titancoin_t, titancoin_conf_t, titancoin_conf_t)

manage_dirs_pattern(titancoin_t, titancoin_var_lib_t, titancoin_var_lib_t)
manage_files_pattern(titancoin_t, titancoin_var_lib_t, titancoin_var_lib_t)
files_var_lib_filetrans(titancoin_t, titancoin_var_lib_t, { dir file })

manage_dirs_pattern(titancoin_t, titancoin_var_run_t, titancoin_var_run_t)
manage_files_pattern(titancoin_t, titancoin_var_run_t, titancoin_var_run_t)

sysnet_dns_name_resolve(titancoin_t)
corenet_all_recvfrom_unlabeled(titancoin_t)

allow titancoin_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(titancoin_t)
corenet_tcp_sendrecv_generic_node(titancoin_t)
corenet_tcp_sendrecv_all_ports(titancoin_t)
corenet_tcp_bind_generic_node(titancoin_t)

gen_require(`
    type titancoin_port_t;
')
allow titancoin_t titancoin_port_t:tcp_socket name_bind;

gen_require(`
    type titancoin_port_t;
')
allow titancoin_t titancoin_port_t:tcp_socket name_connect;

domain_use_interactive_fds(titancoin_t)

files_read_etc_files(titancoin_t)

miscfiles_read_localization(titancoin_t)

sysnet_dns_name_resolve(titancoin_t)

allow titancoin_t titancoin_exec_t:file execute_no_trans;
allow titancoin_t self:process setsched;
corecmd_exec_ls(titancoin_t)
corenet_tcp_connect_http_port(titancoin_t)
dev_read_urand(titancoin_t)
fs_getattr_xattr_fs(titancoin_t)
kernel_read_system_state(titancoin_t)
